/*not allowed*/
.internal-use-only {
	position: absolute;
	top: 2px;
	left: 1px;
	color: var(--danger);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	z-index: 2000;
}
.internal-use-only__icon {
	height: 27px;
	display: block;
	margin-right: 3px;
}
.internal-use-only__label {
	font-family: sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
}
.internal-use-only__label span {
	font-size: 12px;
	letter-spacing: -0.6px;
}
